{% extends 'base.html' %}
{% block title %}Add Book{% endblock %}
{% block content %}
<form action="{{ request.path }}" class="form-horizontal" method="POST">
  <fieldset>
    <legend>Add New Book</legend>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="title" name="title" placeholder="Book Title">
      </div>
    </div>
    <div class="form-group">
      <label for="year" class="col-lg-2 control-label">Year</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="year" name="year" placeholder="Publish Year">
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="description" name="description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
<!-- <form action="{{ request.path }}" method="POST">
    <label>Title</label>
    <br>
    <input name="title"/>
    <br>
    <label>Year</label>
    <br>
    <input name="year"/>
    <br>
    <label>Description</label>
    <br>
    <textarea name="description"></textarea>
    <br>
    <input type="submit" class="btn"/>

    <br><br>
    <a href="/">Voltar</a>
    <br><br>
</form> -->
{% endblock %}
