{% extends 'base.html' %}
{% block title %}
{% if add_book %}
Add New Book
{% else %}
Edit Book
{% endif %}
{% endblock %}
{% block content %}

{% for message in form.title.errors %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}

<form action="{{ request.path }}" class="form-horizontal"
      enctype="multipart/form-data" method="POST">
    <fieldset>
        {% if add_book %}
        <legend>Add New Book</legend>
        {% else %}
        <legend>Edit Book</legend>
        {% endif %}
        {{ form.hidden_tag() }}
        <div class="form-group">
            <!--<label class="col-lg-2 control-label">Cover</label>-->
            <div class="col-lg-2">
                <a class="thumbnail thumbnail-button" href="#">
                    <img src="{{ url_for('static', filename='%s' % form.cover_path.data) }}">
                </a>
                {{ form.cover(class="form-control btn btn-primary") }}
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        {{ form.title(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Author</label>
                    <div class="col-lg-10">
                        {{ form.author(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Year</label>
                    <div class="col-lg-10">
                        {{ form.year(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10" style="">
                        {{ form.description(class="form-control", rows="10") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
</form>
{% endblock %}
