{% extends 'base.html' %}
{% from 'macros.html' import icon %}
{% block title %}Home{% endblock %}
{% block content %}

<style>
.minha-classe {
    min-height: 200px; height:250px; max-height:300px;
} /* altura mínima de 200px, altura normal de 250px altura máxima de 300px*/

</style>


<div class="row text-center text-lg-left">
    {% for book in books %}
    <div class="col-lg-3 col-md-4 col-xs-2">
        <a href="{{ url_for('edit_book', book_id=book.id) }}"
           class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail minha-classe"
                 src="{{ url_for('static', filename='%s' % book.cover_path) }}"
                 alt="{{ book.title }}">
            <div class="caption">
                <p>{{ book.title }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
