{% extends "base.html" %}
{% block corpo %}

<ul>
  <li><a href="/logout/">Logout</a></li>
  <li><a href="/adiciona/">Adicionar novo item</a></li>
</ul>
<ul>
  {% load staticfiles %}
  {% for item in lista_itens %}
    <li>
      <a href="/remove/{{ item.id }}/"><img src="{% static "agenda/lixeira.png" %}" alt="My image"/></a>
      <a href="/item/{{ item.id }}/">
        {{ item.data | date:'d/m/Y'}} - {{ item.titulo }}
      </a>
    </li>
    {% empty %}
      <li> Sem intens na lista </li>
  {% endfor %}

</ul>
{% endblock %}
