{% extends "base.html" %} {% block title %}About{% endblock %} {% block body %}
<div style="text-align: center;">
    <h1>About Page</h1>
    <p class="lead">Conteudo inicial da pagina de about.</p>
    <br>
    <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id est feugiat, molestie nibh sit amet, fringilla purus.
        Vestibulum molestie ac magna eget semper. Suspendisse tincidunt, tortor non vulputate rutrum, turpis lorem viverra justo,
        ac scelerisque velit metus id felis. Vestibulum rhoncus neque sed justo semper vulputate. Praesent euismod viverra semper.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quam enim, feugiat ut mollis quis, consequat ac nibh. Suspendisse
        potenti. Integer quis magna eget ante commodo mattis. Aenean at placerat mi. Etiam quis turpis pretium, tempus lacus in,
        mattis tellus. Phasellus hendrerit lacus mauris, eu imperdiet ligula semper sed. Ut facilisis aliquam velit eget consequat.
        Nullam aliquet tellus hendrerit venenatis ultrices. Proin vulputate condimentum neque ut porttitor. Integer ut est leo.
    </p>
    <img src="/static/image/logo.png">
</div>
    
{% endblock %}