<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Book</title>
    <hr>
</head>
<body>

<form action="{{ request.path }}" method="POST">
    <label>Title</label>
    <br>
    <input name="title"/>
    <br>
    <label>Description</label>
    <br>
    <textarea name="description"></textarea>
    <br>
    <input type="submit" value="Add"/>

    <br><br>
    <a href="/">Voltar</a>

    <br><br>
</form>


</body>
</html>
