form input,
form label,
form legend {
  font-size: 11px;
}

form input {
  border: solid #ccc thin;
  font-family: "Trebuchet MS", Verdana, Tahoma, serif;
  width: 100%;
}

form input[type="submit"] {
  display: block;
  float: right;
  margin-top: 13px;
  width: auto;
}

form fieldset,
form legend {
  border: solid black thin;
  margin: 10px;
  padding: 6px;
}

form fieldset {
  width: 40%;
}

form label {
  display: block;
}

form legend {
  background-color: #e8e8e8;
  font-weight: bold;
}
